<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MalwUrl v0.1</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/bootstrap.min.css') }}">
</head>
<body  style="background-color: khaki">
    <div class="container-fluid">
        <div class="row">
            <div class="page-header">
                <h1 style="font-family:'Ubuntu Light';margin-left: 20px;">MalwrUlr Api v0.1</h1><a href="http://46.101.119.45:8080/api"><button class="btn btn-primary">Api</button></a>
            </div>
        </div>
        <diw class="row">
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="label label-success">OK</span>
                        http://www.dshield.org
                </li>
                <li class="list-group-item">
                    <span class="label label-success">OK</span>
                        https://openphish.com
                </li>
                <li class="list-group-item">
                    <span class="label label-success">OK</span>
                        https://zeustracker.abuse.ch
                </li>
            </ul>
        </diw>
    </div>
</body>
</html>